<nav class="navbar navbar-expand-sm navbar-light" style="background: #272A38;">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-white" aria-current="page" href="#">Информация по резервуарам</a>
          </li>
        </ul>
        <form class="d-flex">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link text-white" aria-current="page" href="#">Загрузить данные</a>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </nav>

  <nav class="navbar navbar-expand-lg navbar-light grayBackground">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarCenteredExample"
        aria-controls="navbarCenteredExample"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
  
      <div
        class="collapse navbar-collapse justify-content-center"
        id="navbarCenteredExample">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item mx-md-3">
            <a class="nav-link text-white" aria-current="page" href="#">АИ-92</a>
          </li>
          <li class="nav-item mx-md-3">
            <a class="nav-link active text-white" href="#">КЕРОСИН</a>
          </li>
          <li class="nav-item mx-md-3">
            <a class="nav-link text-white" href="#">ДТ ЗИМНЕЕ</a>
          </li>
          <li class="nav-item mx-md-3">
            <a class="nav-link text-white" href="#">ТС-1</a>
          </li>
          <li class="nav-item mx-md-3">
            <a class="nav-link text-white" href="#">АИ-95</a>
          </li>
          <li class="nav-item mx-md-3">
            <a class="nav-link text-white" href="#">МАЗУТ</a>
          </li>
          <li class="nav-item mx-md-3">
            <a class="nav-link text-white" href="#">ГАЗОЙЛЬ</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
